name: CI
on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      GH_SUBMODULE_TOKEN: ${{ secrets.LAM-Submodule_Access }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ env.GH_SUBMODULE_TOKEN }}

      - uses: actions/setup-python@v4
        with: {python-version: "3.12"}

      - run: python -m pip install -U pip ruff

      - name: Ruff lint
        run: ruff check .
